*{
	box-sizing: border-box;
}  
img {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  background: url(/static/loading.gif) no-repeat center center
}
html, body, #app{
  height: 100%;
}

.phoneNumber {
  background: url(/static/wrong.png);
  background-size: .24rem .24rem
}
.ui-input {
  width: 100%;
  line-height: 0.47rem;
  background: #fff;
  overflow: hidden;
  margin-top: 0.1rem;
  height: 0.47rem;
  position: relative;
  font-size: .15rem;
  >input {
    display: block;
    float: left;
    width: 70%;
    height: 100%;
    background: #fff;
    font-size: 0.16rem;
    text-indent: 0.15rem;
    border: 0;
  }
  border-bottom: 1px solid #bfbfbf;
}
.mint-switch-input:checked + .mint-switch-core {
  border-color: orange !important ;
  background-color: orange !important ;
}
.Aconfirm{
  font-size: .15rem !important;
  background: red !important;
  color: #d5d5d5 !important;
}